<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<connectionStrings>
		<add name="W04L" connectionString="LEO-QZ.orzx" />
		<add name="pox1" connectionString="1" />
		<add name="pox2" connectionString="3" />
		<add name="pox3" connectionString="5" />
		<add name="pox4" connectionString="6" />
		<add name="W04R" connectionString="LEO-QY.orzx" />
		<add name="PFLID" connectionString="5" />
		<add name="PFRID" connectionString="6" />

		<!-- 替换文本位置-->
		<!-- 1,2: LEO前转-->
		<!-- 3,4: E3S6前转-->
		<!-- 5,6: E3S6后转-->
		<!-- 7,8: W04-->


	</connectionStrings>



</configuration>