<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<connectionStrings>
		<add name="W04L" connectionString="W04L" />
		<add name="pox1" connectionString="1" />
		<add name="pox2" connectionString="5" />
		<add name="pox3" connectionString="7" />
		<add name="W04R" connectionString="W04R.orzx" />
		<add name="PFLID" connectionString="7" />
		<add name="PFRID" connectionString="8" />
		<!-- 1,2: LEO前转-->
		<!-- 3,4: E3S6前转-->
		<!-- 5,6: E3S6后转-->
		<!-- 7,8: W04-->



	</connectionStrings>



</configuration>